<link href="/stylesheets/index.css" rel="stylesheet">

  <h1>ANIMATIONS</h1>
  <h2>Corner to Corner</h2>
  <div class='animation-canvas'>
    <div class='ball'></div>
  </div>

  <h3>Nick Rupp</h3>
